<!DOCTYPE html>
<html>
<head>
  <title>Ovidiu Cota</title>
	<link href='https://fonts.googleapis.com/css?family=Raleway:400,700,600,300,500' rel='stylesheet' type='text/css'>
	<script src="https://use.fontawesome.com/b8bd80f625.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header id="main_navigation" class="clearfix">
		<%= link_to "Ovidiu Cota", root_path, class: "name" %>
		<nav>
			<%= link_to "Articles", posts_path %>
			<a href="#">Projects</a>
			<a href="contact.html">Contact</a>
		</nav>	
	</header>
	
	<% if notice %>
		<p class="notice"><%= notice %></p>
	<% elsif alert %>
		<p class="alert"><%= alert %></p>
	<% end %>

<%= yield %>

<footer id="main_footer">
	<p class="copyright">&copy;Ovidiu Cota</p>
	<nav>
		<a href="https://www.linkedin.com/in/ovidiu-cota-0b9320b7?trk=hp-identity-name" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
		<a href="https://github.com/ovidiucota" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a>
		<a href="https://www.facebook.com/ovii.dell" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
	</nav>
</footer>

</body>
</html>
